{:objects
 {:Image
  {:fields {:id {:type Int}
            :url {:type String}}}
  :Platform
  {:fields {:id {:type Int}
            :name {:type String}
            :url {:type String}
            :platformUserId {:type String}}}
  :PlatformOption
  {:fields {:id {:type Int}
            :name {:type String}
            :exampleUserId {:type String}}}
  :User
  {:fields {:id {:type Int}
            :name {:type String}
            :introduction {:type String}
            :images {:type (list :Image)
                     :optional true}
            :platforms {:type (list :Platform)
                        :optional true}
            :isMatched {:type Boolean
                        :optional true}
            :isFavorited {:type Boolean
                          :optional true}}}
  :UserWithSession
  {:fields {:user {:type User}
            :session {:type String}}}
  :UserEdge
  {:fields {:cursor {:type String}
            :node {:type :User}}}
  :PageInfo
  {:fields {:startCursor {:type String}
            :endCursor {:type String}
            :hasPreviousPage {:type Boolean}
            :hasNextPage {:type Boolean}}}
  :ApproachList
  {:fields {:edges {:type (list UserEdge)}
            :pageInfo {:type :PageInfo}}}
  :FavoritedUsers
  {:fields {:edges {:type (list UserEdge)}
            :pageInfo {:type :PageInfo}}}
  :MatchedUsers
  {:fields {:edges {:type (list UserEdge)}
            :pageInfo {:type :PageInfo}}}
  :FavoritedFromUsers
  {:fields {:edges {:type (list UserEdge)}
            :pageInfo {:type :PageInfo}}}
  :UserMatch
  {:fields {:isMatched {:type Boolean}}}}
 :input-objects
 {:PlatformInput
  {:fields {:id {:type Int}
            :name {:type String}
            :platformUserId {:type String
                             :optional true}}}
  :PlatformInputs
  {:fields {:platforms {:type (list :PlatformInput)}}}}
 :queries
 {:approachList {:type :ApproachList
                 :args {:first {:type Int
                                :optional true}
                        :after {:type String
                                :optional true}
                        :last {:type Int
                               :optional true}
                        :before {:type String
                                 :optional true}
                        :excludeIds {:type (list Int)
                                     :optional true}}
                 :resolve :resolve-approach-list}
  :favoritedUsers {:type :FavoritedUsers
                    :args {:first {:type Int
                                   :optional true}
                           :after {:type String
                                   :optional true}}
                    :resolve :resolve-favorited-users}
  :matchedUsers {:type :MatchedUsers
                 :args {:first {:type Int
                                :optional true}
                        :after {:type String
                                :optional true}}
                 :resolve :resolve-matched-users}
  :favoritedFromUsers {:type :FavoritedFromUsers
                 :args {:first {:type Int
                                :optional true}
                        :after {:type String
                                :optional true}}
                 :resolve :resolve-favorited-from-users}
  :me {:type :User
       :resolve :resolve-me}
  :partner {:type :User
            :args {:id {:type Int}}
            :resolve :resolve-partner}
  :platformOptions {:type (list :PlatformOption)
                    :resolve :resolve-platform-options}}
 :mutations
 {:registerUser {:type :UserWithSession
                 :description "ユーザー新規登録"
                 :args {:idToken {:type String}}
                 :resolve :resolve-register-user}
  :loginUser {:type :UserWithSession
              :description "ユーザーログイン"
              :args {:idToken {:type String}}
              :resolve :resolve-login-user}
  :uploadImage {:type :Image
                :description "画像アップロード"
                :args {:base64String {:type String}}
                :resolve :resolve-upload-image}
  :updateMe {:type Boolean
             :description "自分のプロフィールをアップデート"
             :args {:name {:type String
                           :optional true}
                    :introduction {:type String
                                   :optional true}
                    :imageIds {:type (list Int)
                               :optional true}
                    :platforms {:type :PlatformInputs
                                :optional true}}
             :resolve :resolve-update-me}
  :skip {:type Boolean
         :description "お相手をスキップ"
         :args {:partnerId {:type (non-null Int)}}
         :resolve :resolve-skip}
  :favorite {:type UserMatch
             :description "お相手をお気に入りにする"
             :args {:partnerId {:type (non-null Int)}}
             :resolve :resolve-favorite}
  :resetAllSkip {:type Boolean
                 :description "スキップしたお相手をすべて再表示させる"
                 :resolve :resolve-reset-all-skip}}}
