{:objects
 {:Image
  {:fields {:id {:type Int}
            :url {:type String}}}
  :Platform
  {:fields {:id {:type Int}
            :name {:type String}
            :url {:type String}
            :platformUserId {:type String}}}
  :PlatformOption
  {:fields {:id {:type Int}
            :name {:type String}
            :exampleUserId {:type String}}}
  :User
  {:fields {:id {:type Int}
            :name {:type String}
            :introduction {:type String}
            :images {:type (list :Image)
                     :optional true}
            :platforms {:type (list :Platform)
                        :optional true}}}
  :UserWithSession
  {:fields {:user {:type User}
            :session {:type String}}}
  :UserEdge
  {:fields {:cursor {:type String}
            :node {:type :User}}}
  :PageInfo
  {:fields {:startCursor {:type String}
            :endCursor {:type String}
            :hasPreviousPage {:type Boolean}
            :hasNextPage {:type Boolean}}}
  :ApproachList
  {:fields {:total {:type Int
                    :description "取得可能なお相手の総人数"}
            :edges {:type (list UserEdge)}
            :pageInfo {:type :PageInfo}}}}
 :input-objects
 {:PlatformInput
  {:fields {:id {:type Int}
            :name {:type String}
            :platformUserId {:type String
                             :optional true}}}
  :PlatformInputs
  {:fields {:platforms {:type (list :PlatformInput)}}}}
 :queries
 {:approachList {:type :ApproachList
                 :args {:first {:type Int
                                :optional true}
                        :after {:type String
                                :optional true}
                        :last {:type Int
                               :optional true}
                        :before {:type String
                                 :optional true}}
                 :resolve :resolve-approach-list}
  :me {:type :User
       :resolve :resolve-me}
  :platformOptions {:type (list :PlatformOption)
                    :resolve :resolve-platform-options}}
 :mutations
 {:registerUser {:type :UserWithSession
                 :description "ユーザー新規登録"
                 :args {:idToken {:type String}}
                 :resolve :resolve-register-user}
  :loginUser {:type :UserWithSession
              :description "ユーザーログイン"
              :args {:idToken {:type String}}
              :resolve :resolve-login-user}
  :uploadImage {:type :Image
                :description "画像アップロード"
                :args {:base64String {:type String}}
                :resolve :resolve-upload-image}
  :updateMe {:type Boolean
             :description "自分のプロフィールをアップデート"
             :args {:name {:type String
                           :optional true}
                    :introduction {:type String
                                   :optional true}
                    :imageIds {:type (list Int)
                               :optional true}
                    :platforms {:type :PlatformInputs
                                :optional true}}
             :resolve :resolve-update-me}}}
